<h2>welcome to</h2>

<h1>ROCK</h1>
<h1>PAPER</h1>
<h1>SCISSORS</h1>

<p>
  to play the game, players type their choice into the url field in the following format
</p>

<pre>
  play/[player one's choice]/[player two's choice]
</pre>

<p>
  so if player one chose rock and player two chose scissors, the url would look like this
</p>

<pre>
  play/rock/scissors
</pre>

<p>
  when the page loads, you'll see who is the winner!
</p>
