html {
  font-family: helvetica;
}

body {
  background-color: black;
  color: white;
}

h1, h2, p {
  /*text-align: center;*/
  text: bold;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

pre {
  display: inline-block;
  color: white;
  border: white dashed 1px;
  text-align: center;
}


#rock {
  padding-left: 150px;
}

#paper{
  padding-left: 300px;
}

#scissors{
  padding-left: 450px;
}

.rainbow {
    color: black; /* For browsers that do not support gradients */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
    text-align: center;
}
